<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:contest="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <contest:property-placeholder location= "application.properties"/>

    <bean id="myAnimal"
          class="com.company.Cat"></bean>

    <bean id="Cat"
          class="com.company.Cat">
        <property name="name" value="${cat.name}"/>
        <property name = "age" value = "${cat.age}"/>
        <property name = "breed" value = "${cat.breed}"/>
        <property name = "color" value = "${cat.color}"/>
    </bean>

    <bean id = "Person"
    class = "com.company.Person">
        <property name = "animal" ref = "myAnimal"/>
        <property name = "name" value = "${person.name}"/>
        <property name = "age" value = "${person.age}"/>
    </bean>

</beans>